@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders Page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Service)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Address)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Service)</td>
                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>
                                <a href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i> </a>
                                <a href="#" class="btn btn-outline-info btn-sm"><i class="bi bi-eye"></i> </a>
                                <a href="#" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i> </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
